doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Search | NotePad
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
        
    body
        include layouts/navbar
        +navbar()

        br
        if result.length < 1
            h5.text-center No matching title found for 
                b=title
            br        
        else
            h5.text-center Search Result for 
                b=title
            br

            .container(id="container")

                for note in result
                    button.card-header.btn-block.btn-lg.text-left(type='button' data-toggle='collapse' data-target=`#collapse${note.id}` aria-expanded='false' aria-controls=`collapse${note.id}`)=note.title
                    .collapse(id=`collapse${note.id}`)
                        .card.card-body
                            textarea(rows="3", readonly, style="text-align:left; border:none; outline:none;")=note.body
                            .text-right
                                hr
                                .text-left.text-muted
                                    span Created: 
                                    span=note.createdAt
                                    br
                                    span Last modified: 
                                    span=note.updatedAt
                                form(action='/edit' style='display: inline')
                                    input(type='hidden' name='id' value=note.id)
                                    button.btn.btn-sm.btn-primary(type='submit') Edit
                                    | 
                                button.btn.btn-sm.btn-danger.promptModal(type='button' noteid=note.id notetitle=note.title data-toggle='modal' data-target='#deleteModal') Delete
                    br



        // Modal
        #deleteModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='deleteModalLabel' aria-hidden='true')
            .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h5#deleteModalLabel.modal-title Delete Note
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') &times;
                        .modal-body
                            | Are you sure you want to delete 
                            b(id="title") 
                        .modal-footer
                            button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                            form(action="/delete", method="post")
                                input(type="hidden", name="id" id="hiddenInp")
                                button.btn.btn-warning(type='submit') Delete

        script(src="/js/jquery-3.3.1.js")
        script(src="/js/bootstrap.bundle.min.js")
        script(src="/js/search.js")